<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>发布考试 后台管理系统</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../../static/css/font.css">
		<link rel="stylesheet" href="../../../static/css/weadmin.css">
		<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
		<!--[if lt IE 9]>
	      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
	      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
		<style>
			.examType{
				float: left;
				width: auto;
				max-width: calc(100% - 120px);
				margin-right: 10px;
			}
			.examType .examName{
				width: 72px;
				padding: 0 10px;
				display: none;
				float: left;
			}
			.examType p{
				float: left;
				line-height: 38px;
				margin-right: 10px;
				margin-bottom: 10px;
				padding: 0 20px;
				color: #409eff;
				border: 1px solid #d9ecff;
				border-radius: 2px;
				cursor: pointer;
				position: relative;
			}
			.examType p i{
				position: absolute;
				right: 0;
				top: 0;
				display: none;
				width: 18px;
				height: 18px;
				line-height: 20px;
				margin-left: 8px;
				text-align: center;
				font-size: 14px;
				transition: all .2s;
				-webkit-transition: all .2s;
			}
			.examType p i:hover{
				border-radius: 2px;
				background-color: #FF5722;
				color: #fff;
			}
			.examType p:hover i{
				display: inline-block;
			}
			.examType p.active{
				background-color: #409eff;
				color: #fff;
				border-color: #409eff;
			}
			.examType .examTypeInfo{
				float: left;
			}
			.examType .layui-btn{
				float: left;
			}
			.examType .examName:focus{
				border-color: #1E9FFF !important;
			}
		</style>
	</head>

	<body>
		<div class="weadmin-body">
			<form class="layui-form">
				<div class="layui-form-item">
					<label class="layui-form-label">
						<span class="we-red">*</span>考试类型
					</label>
					<div class="examType">
						<input type="text" class="layui-input examName" maxlength="50">
						<button type="button" class="layui-btn">+添加</button>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">
						<span class="we-red">*</span>考试时间
					</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" name="startTime" id="startTime" placeholder="开始时间">
					</div>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" name="startTime" id="endTime" placeholder="结束时间">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">
						考试规则
					</label>
					<div class="layui-input-inline" style="width: 700px">
						<textarea placeholder="请输入考试规则" class="layui-textarea"></textarea>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label"></label>
					<button type="button" class="layui-btn layui-btn-normal release">确定</button>
				</div>
			</form>
		</div>
		<script src="../../../static/lib/layui/layui.js" charset="utf-8"></script>

		<script>
			layui.extend({
				admin: '{/}../../../static/js/admin'
			});
			layui.use(['form', 'jquery','util','admin', 'layer','laydate'], function() {
				var form = layui.form,
					$ = layui.jquery,
					admin = layui.admin,
					laydate = layui.laydate,
					layer = layui.layer;
				//考试类型
				function getAllType(){
					$.ajax({
						url: '/examtype/queryExamTypeAll',
						data: '',
						type: "post",
						dataType: "json",
						contentType:'application/json;charset=utf-8',
						success:function (res) {
							if(res.success){
								var str = ''
								if(res.obj.length>0){
									res.obj.map(item=>{
										str += '<p lay-id="'+item.id+'">'+item.examName+'<i title="删除" class="layui-icon layui-tab-close">ဆ</i></p>'
									})
								}
								$('.examType').prepend(str);
							}else{
								layer.msg(res.errorMsg,{
									time: 1000
								});
							}
						}
					})
				}
				getAllType();
				//新增考试类型
				$('.examType .layui-btn').click(function () {
					$(this).hide();
					$('.examType .examName').show().focus().val('');
				})
				$('.examType .examName').blur(function () {
					var val = $.trim($(this).val());
					if(val == ''){
						return false
					}
					$(this).hide();
					$('.examType .layui-btn').show();
					$.ajax({
						url: '/examtype/saveExamType',
						data: JSON.stringify({
							examName:val
						}),
						type: "POST",
						dataType: "json",
						contentType:'application/json;charset=utf-8',
						success:function (res) {
							if(res.success){
								$('.examType .examName').before('<p lay-id="'+res.obj.id+'">'+res.obj.examName+'<i title="删除" class="layui-icon layui-tab-close">ဆ</i></p>')
							}else{
								layer.msg(res.errorMsg,{
									time: 1000
								});
							}
						}
					})
				});
				//删除考试类型
				$('body').on('click','.examType p i',function () {
					var objId =$(this).parents('p').attr('lay-id');
					$(this).parents('p').hide();
					$.ajax({
						url: '/examtype/modifyExamType',
						data: JSON.stringify({
							id:objId,
							status:2
						}),
						type: "POST",
						dataType: "json",
						contentType:'application/json;charset=utf-8',
						success:function (res) {
							if(res.success){
								$(this).parents('p').hide();
							}else{
								layer.msg(res.errorMsg,{
									time: 1000
								});
							}
						}
					})
				});
				//选中考试类型
				$('body').on('click','.examType p',function () {
					$(this).addClass('active').siblings().removeClass('active');
				});
				//设置开始时间
				var startTime = laydate.render({
					elem: '#startTime',//开始时间选择控件id
					min:0,
					type: 'datetime',
					format: 'yyyy-MM-dd HH:mm', //可任意组合
					done: function (value, date) {
						if (value !== '') {
							endTime.config.min.year = date.year;
							endTime.config.min.month = date.month - 1;
							endTime.config.min.date = date.date;
							endTime.config.min.hours=date.hours;
							endTime.config.min.minutes=date.minutes;
						} else {
							endTime.config.min.year = '';
							endTime.config.min.month = '';
							endTime.config.min.date = '';
							endTime.config.min.hours = '';
							endTime.config.min.minutes = '';
						}
					}
				});
				//设置结束时间
				var endTime = laydate.render({
					elem: '#endTime',//结束时间选择控件id
					type: 'datetime',
					format: 'yyyy-MM-dd HH:mm', //可任意组合
					done: function (value, date) {
						endTime.config.min ={
							year:date.year,
							month:date.month-1,
							date: date.date,
							hours: 0,
							minutes: 0,
							seconds : 0
						};
						if (value !== '') {
							startTime.config.max.year = date.year;
							startTime.config.max.month = date.month - 1;
							startTime.config.max.date = date.date;
							startTime.config.max.hours = date.date;
							startTime.config.max.minutes = date.date;
						} else {
							startTime.config.max.year = '';
							startTime.config.max.month = '';
							startTime.config.max.date = '';
							startTime.config.max.hours = '';
							startTime.config.max.minutes = '';
						}
					}
				});
				//监听提交
				$('.release').click(function () {
					var examTypeId = $('.examType p.active').attr('lay-id');
					if(!examTypeId){
						layer.msg('请选择考试类型',{
							time: 1000
						});
						return false
					}
					var examTypeId = $('.examType p.active').attr('lay-id');
					if(!examTypeId){
						layer.msg('请选择考试类型',{
							time: 1000
						});
						return false
					};
					var objTypeId = $(".objType").next().find('.layui-this').attr('lay-value');
					if(!objTypeId){
						layer.msg('请选择考试课程',{
							time: 1000
						});
						return false
					};
					var startDate = new Date($('#startTime').val()).getTime();
					if(!startDate){
						layer.msg('请选择开始时间',{
							time: 1000
						});
						return false
					};
					var endDate = new Date($('#endTime').val()).getTime();
					if(!endDate){
						layer.msg('请选择结束间',{
							time: 1000
						});
						return false
					};
				})
			});
		</script>
	</body>

</html>