<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>考试规则 后台管理系统</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="../../../static/css/font.css">
	<link rel="stylesheet" href="../../../static/css/weadmin.css">
	<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
	<!--[if lt IE 9]>
	<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
	<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
<div class="weadmin-body">
	<form class="layui-form">
		<div class="layui-form-item">
			<label class="layui-form-label">
				<span class="we-red">*</span>考试时间
			</label>
			<div class="layui-input-inline">
				<label class="layui-form-label minute" style="text-align: left;padding-left: 0;"></label>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">
				<span class="we-red">*</span>考试规则
			</label>
			<div class="layui-input-inline" style="width: 390px;">
				<textarea readonly class="layui-textarea"></textarea>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<input id="dataId" name="id" type="hidden" value="">
			<input name="examTestPaperId" type="hidden" value="">
			<button type="button" class="layui-btn layui-btn-normal release">同意</button>
		</div>
	</form>
</div>
<script src="../../../static/lib/layui/layui.js" charset="utf-8"></script>

<script>
	layui.extend({
		admin: '{/}../../../static/js/admin'
	});
	layui.use(['form', 'jquery','util','admin', 'layer','laydate'], function() {
		var form = layui.form,
				$ = layui.jquery,
				admin = layui.admin,
				laydate = layui.laydate,
				layer = layui.layer;
		$(function(){
			setTimeout(function(){
				frameVal();
			},100);
		});
		function frameVal(){
			var dataId = $('input[name="id"]').val();
			$.ajax({
				url: '/applyExam/queryExamRule',
				data:{
					id:dataId
				},
				type: "get",
				dataType: "json",
				contentType:'application/json;charset=utf-8',
				success:function (res) {
					if(res.success){
						$('.minute').html(res.obj.minute+'分钟');
						$('.layui-textarea').html(res.obj.examRule);
						$('input[name="examTestPaperId"]').val(res.obj.examTestPaperId);
					}
				}
			})
		}
		//监听提交
		$('.release').click(function () {
			window.open('./testInfo.html?id='+$('input[name="examTestPaperId"]').val());
		})
	});
</script>
</body>

</html>