<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.exam.exam_system.mapper.applyExamMapper.ApplyExamMapper">
    <insert id="insert">
        insert into exam_apply_exam(user_id,exam_id,status,create_time,topic_id,answer,subject_id,testpaper_id)
        values
        <foreach collection="stuExamRequest" item="stuExamRequest" separator=",">
            (#{stuExamRequest.userId},#{stuExamRequest.examId},#{stuExamRequest.status},#{stuExamRequest.createTime}
            ,#{stuExamRequest.topicId},#{stuExamRequest.answer},#{stuExamRequest.subjectId}
            ,#{stuExamRequest.testPaperId})
        </foreach>
    </insert>
    <insert id="addAchievement">
        insert into exam_achievement(exam_id,user_id,achievement,create_time,subject_id)
        values (#{request.examId},#{request.userId},#{request.achievement},#{request.createTime},#{request.subjectId})
    </insert>

    <select id="selectStuExamAll" resultType="com.exam.exam_system.pojo.StuExamPojo">
        SELECT a.id
        ,a.start_time startTime
        ,a.end_time endTime
        ,c.subject_name subjectName
        ,d.exam_name examName
        FROM exam_exam a
        LEFT JOIN exam_testpaper_name b ON a.exam_testpaper_id = b.id
        LEFT JOIN exam_subject c ON b.subject_id = c.id
        LEFT JOIN exam_type d ON d.id = a.exam_type_id
        WHERE a.status = 1
        AND NOW() <![CDATA[ >=]]> a.start_time
        AND NOW() <![CDATA[ <=]]> a.end_time
        <if test="request.subjectName != null and request.subjectName != ''">
            and c.subject_name LIKE CONCAT('%',#{request.subjectName},'%')
        </if>
        <if test="request.examName != null and request.examName != ''">
            and d.exam_name LIKE CONCAT('%',#{request.examName},'%')
        </if>
        <if test="request.isExpired != null">
            <if test="request.isExpired == 1">
                and NOW() <![CDATA[ >= ]]> a.start_time and NOW() <![CDATA[ <= ]]> a.end_time
            </if>
            <if test="request.isExpired == 2">
                and NOW() <![CDATA[ > ]]> a.start_time and NOW() <![CDATA[ > ]]> a.end_time
            </if>
            <if test="request.isExpired == 3">
                and NOW() <![CDATA[ < ]]> a.start_time and NOW() <![CDATA[ < ]]> a.end_time
            </if>
        </if>
    </select>
    <select id="selectStuExamAllCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM exam_exam a
        LEFT JOIN exam_testpaper_name b ON a.exam_testpaper_id = b.id
        LEFT JOIN exam_subject c ON b.subject_id = c.id
        LEFT JOIN exam_type d ON d.id = a.exam_type_id
        WHERE a.status = 1
        AND NOW() <![CDATA[ >=]]> a.start_time
        AND NOW() <![CDATA[ <=]]> a.end_time
        <if test="request.subjectName != null and request.subjectName != ''">
            and c.subject_name LIKE CONCAT('%',#{request.subjectName},'%')
        </if>
        <if test="request.examName != null and request.examName != ''">
            and d.exam_name LIKE CONCAT('%',#{request.examName},'%')
        </if>
        <if test="request.isExpired != null">
            <if test="request.isExpired == 1">
                and NOW() <![CDATA[ >= ]]> a.start_time and NOW() <![CDATA[ <= ]]> a.end_time
            </if>
            <if test="request.isExpired == 2">
                and NOW() <![CDATA[ > ]]> a.start_time and NOW() <![CDATA[ > ]]> a.end_time
            </if>
            <if test="request.isExpired == 3">
                and NOW() <![CDATA[ < ]]> a.start_time and NOW() <![CDATA[ < ]]> a.end_time
            </if>
        </if>
    </select>
    <select id="selectExamRule" resultType="com.exam.exam_system.pojo.response.ApplyExamResponse">
        select
            start_time startTime,
            end_time endTime,
            exam_rule examRule,
            exam_testpaper_id examTestPaperId
        from
            exam_exam
        where id = #{id}
    </select>
    <select id="selectAnswers" resultType="com.exam.exam_system.pojo.response.AchievementResponse">
        SELECT a.answer answer
            ,b.answer rightAnswers
            ,b.grade grade
        FROM exam_apply_exam a
        LEFT JOIN exam_testpaper_content b ON a.topic_id = b.id
        WHERE a.topic_id IN
        <foreach collection="ids" item="ids" open="(" close=")" separator=",">
            #{ids}
        </foreach>
    </select>
    <select id="selectAchievementAll" resultType="com.exam.exam_system.pojo.AchievementPojo">
        SELECT a.id id
            ,b.name userName
            ,c.exam_name examName
            ,d.subject_name subjectName
            ,a.achievement achievement
            ,e.start_time startTime
            ,e.end_time endTime
            ,b.id userId
        FROM exam_achievement a
        LEFT JOIN exam_user b ON a.user_id = b.id
        LEFT JOIN exam_type c ON a.exam_id = c.id
        LEFT JOIN exam_subject d ON a.subject_id = d.id
        LEFT JOIN exam_exam e on a.exam_id = e.id
        <where>
            <if test="request.name != null and request.name != ''">
                and b.name LIKE CONCAT('%',#{request.name},'%')
            </if>
            <if test="request.examName != null and request.examName != ''">
                and c.exam_name LIKE CONCAT('%',#{request.examName},'%')
            </if>
            <if test="request.subjectName != null and request.subjectName != ''">
                and c.subject_name LIKE CONCAT('%',#{request.subjectName},'%')
            </if>
            <if test="request.userId != null">
                and b.id =#{request.userId}
            </if>
        </where>
        order by a.create_time desc
        LIMIT #{offset},#{limit}
    </select>
    <select id="selectAchievementAllCount" resultType="java.lang.Integer">
         SELECT COUNT(1)
        FROM exam_achievement a
        LEFT JOIN exam_user b ON a.user_id = b.id
        LEFT JOIN exam_type c ON a.exam_id = c.id
        LEFT JOIN exam_subject d ON a.subject_id = d.id
        LEFT JOIN exam_exam e on a.exam_id = e.id
        <where>
            <if test="request.name != null and request.name != ''">
                and b.name LIKE CONCAT('%',#{request.name},'%')
            </if>
            <if test="request.examName != null and request.examName != ''">
                and c.exam_name LIKE CONCAT('%',#{request.examName},'%')
            </if>
            <if test="request.subjectName != null and request.subjectName != ''">
                and c.subject_name LIKE CONCAT('%',#{request.subjectName},'%')
            </if>
            <if test="request.userId != null">
                and b.id =#{request.userId}
            </if>
        </where>
    </select>
    <select id="selectApplyExamCount" resultType="java.lang.Integer">
        select
            COUNT(1)
        FROM
            exam_apply_exam
        WHERE
        user_id = #{userId}
        AND exam_id = #{examId}
        AND testpaper_id = #{testPaperId}
    </select>
</mapper>