<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.exam.exam_system.mapper.exammapper.ExamMapper">

    <insert id="insertExam" parameterType="com.exam.exam_system.pojo.request.ExamRequest">
        insert into exam_exam(subject_id,exam_testpaper_id,exam_type_id,status,start_time,end_time,exam_rule)
        values(#{examRequest.subjectId},#{examRequest.examTestPaperId},#{examRequest.examTypeId},#{examRequest.status}
                ,#{examRequest.startTime},#{examRequest.endTime},#{examRequest.examRule})
    </insert>
    <update id="batchDelExamById">
        update exam_exam
            set status = 2
        where id IN
        <foreach collection="ids" item="ids" open="(" close=")" separator=",">
            #{ids}
        </foreach>
    </update>
    <select id="selectExamAll" resultType="com.exam.exam_system.pojo.ExamPojo">
        SELECT a.id id
        ,c.exam_name examName
        ,b.subject_name subjectName
        ,a.exam_testpaper_id examTestPaperId
        FROM exam_exam a
        LEFT JOIN exam_subject b ON a.subject_id = b.id
        LEFT JOIN exam_type c ON a.exam_type_id = c.id
        LEFT JOIN exam_testpaper_name d ON a.exam_testpaper_id = d.id
        WHERE a.STATUS = 1
        <if test="request.examName != null and request.examName != ''">
            and c.exam_name LIKE CONCAT('%',#{request.examName},'%')
        </if>
        <if test="request.subjectName != null and request.subjectName != ''">
            and b.subject_name LIKE CONCAT('%',#{request.subjectName},'%')
        </if>
        order by a.create_time desc
        LIMIT #{offset},#{limit}
    </select>
    <select id="selectExamAllCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM exam_exam a
        LEFT JOIN exam_subject b ON a.subject_id = b.id
        LEFT JOIN exam_type c ON a.exam_type_id = c.id
        LEFT JOIN exam_testpaper_name d ON a.exam_testpaper_id = d.id
        WHERE a.STATUS = 1
        <if test="request.examName != null and request.examName != ''">
            and c.exam_name LIKE CONCAT('%',#{request.examName},'%')
        </if>
        <if test="request.subjectName != null and request.subjectName != ''">
            and b.subject_name LIKE CONCAT('%',#{request.subjectName},'%')
        </if>
    </select>
</mapper>