<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.exam.exam_system.mapper.exammapper.ExamMapper">

    <insert id="insertExam" parameterType="com.exam.exam_system.pojo.request.ExamRequest">
        insert into exam_exam(subject_id,exam_testpaper_id,exam_type_id,status,start_time,end_time)
        values(#{examRequest.subjectId},#{examRequest.examTestPaperId},#{examRequest.examTypeId},#{examRequest.status}
                ,#{examRequest.startTime},#{examRequest.endTime})
    </insert>
    <update id="batchDelExamById">
        update exam_exam
            set status = 2
        where id IN
        <foreach collection="ids" item="ids" open="(" close=")" separator=",">
            #{ids}
        </foreach>
    </update>
</mapper>