<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.exam.exam_system.mapper.testPaperMapper.TestPaperMapper">

    <resultMap id="testPaperMap" type="com.exam.exam_system.pojo.response.ExamTestPaperVO">
        <result column="id" property="id"/>
        <result column="test_paper_name" property="testPaperName"/>
        <result column="subject_id" property="subjectId"/>
        <collection property="examTestPaperContentVOS"
                    ofType="com.exam.exam_system.pojo.response.ExamTestPaperContentVO">
            <result column="topicId" property="id"/>
            <result column="title" property="title"/>
            <result column="type" property="type"/>
            <result column="option_a" property="optionA"/>
            <result column="option_b" property="optionB"/>
            <result column="option_c" property="optionC"/>
            <result column="option_d" property="optionD"/>
            <result column="answer" property="answer"/>
            <result column="grade" property="grade"/>
        </collection>
    </resultMap>
    <update id="updateTestPaperNameById" parameterType="com.exam.exam_system.pojo.request.ExamTestPaperNameRequest">
        UPDATE
        exam_testpaper_name
        SET
        modify_time = #{examTestPaperNameRequest.modifyTime}
        <if test="examTestPaperNameRequest.testPaperName != null and examTestPaperNameRequest.testPaperName != ''">
            ,test_paper_name = #{examTestPaperNameRequest.testPaperName}
        </if>
        <if test="examTestPaperNameRequest.status != null">
            ,status = #{examTestPaperNameRequest.status}
        </if>
        <if test="examTestPaperNameRequest.subjectId != null">
            ,subject_id = #{examTestPaperNameRequest.subjectId}
        </if>
        WHERE
        id = #{examTestPaperNameRequest.id}
    </update>

    <update id="updateTestPaperContentById"
            parameterType="com.exam.exam_system.pojo.request.ExamTestPaperContentRequest">
        <foreach collection="examTestPaperContentRequest" item="examTestPaperContentRequest" open="" close=""
                 separator=";">
            UPDATE
            exam_testpaper_content
            SET
            modify_time = #{examTestPaperContentRequest.modifyTime}
            ,title = #{examTestPaperContentRequest.title}
            ,option_a = #{examTestPaperContentRequest.optionA}
            ,option_b = #{examTestPaperContentRequest.optionB}
            ,option_c = #{examTestPaperContentRequest.optionC}
            ,option_d = #{examTestPaperContentRequest.optionD}
            ,answer = #{examTestPaperContentRequest.answer}
            ,grade = #{examTestPaperContentRequest.grade}
            ,type = #{examTestPaperContentRequest.type}
            where id = #{examTestPaperContentRequest.id}
        </foreach>
    </update>
    <update id="batchDelTestPaperNameById">
        update exam_testpaper_name
        set status = 2
        where id IN
        <foreach collection="ids" item="ids" open="(" close=")" separator=",">
            #{ids}
        </foreach>
    </update>

    <delete id="batchDelTestPaperContent">
        DELETE
        FROM exam_testpaper_content
        WHERE id IN
        <foreach collection="ids" item="ids" open="(" close=")" separator=",">
            #{ids}
        </foreach>
    </delete>

    <insert id="addTestPaperName" parameterType="com.exam.exam_system.pojo.request.ExamTestPaperNameRequest">
        insert into exam_testpaper_name(test_paper_name,status,subject_id)
        values(#{examTestPaperRequest.testPaperName},#{examTestPaperRequest.status},#{examTestPaperRequest.subjectId})
    </insert>

    <insert id="insertTestPaperContent" parameterType="com.exam.exam_system.pojo.request.ExamTestPaperContentRequest">
        insert into
        exam_testpaper_content(testpaper_name_id,title,option_a,option_b,option_c,option_d,answer,grade,type)
        values
        <foreach collection="examTestPaperContent" item="examTestPaperContent" separator=",">
            (#{examTestPaperContent.testPaperNameId},#{examTestPaperContent.title},#{examTestPaperContent.optionA}
            ,#{examTestPaperContent.optionB},#{examTestPaperContent.optionC}
            ,#{examTestPaperContent.optionD},#{examTestPaperContent.answer}
            ,#{examTestPaperContent.grade},#{examTestPaperContent.type})
        </foreach>
    </insert>

    <select id="selectTestPaperNameAll" resultType="com.exam.exam_system.pojo.response.ExamTestPaperNameVO">
        SELECT a.id
        ,a.test_paper_name testPaperName
        ,a.subject_id subjectId
        ,a.STATUS STATUS
        ,b.subject_name subjectName
        FROM exam_testpaper_name a
        LEFT JOIN exam_subject b ON a.subject_id = b.id
        WHERE a.STATUS = 1
        <if test="request.testPaperName != null and request.testPaperName != ''">
            and a.test_paper_name LIKE CONCAT('%',#{request.testPaperName},'%')
        </if>
        ORDER BY a.create_time DESC
        LIMIT #{offset},#{limit}
    </select>

    <select id="selectTestPaperNameCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM exam_testpaper_name a
        LEFT JOIN exam_subject b ON a.subject_id = b.id
        WHERE a.STATUS = 1
        <if test="request.testPaperName != null and request.testPaperName != ''">
            and a.test_paper_name LIKE CONCAT('%',#{request.testPaperName},'%')
        </if>
    </select>

    <select id="selectTestPaperById" resultMap="testPaperMap">
        SELECT a.id
            ,a.test_paper_name
            ,b.title
            ,b.type
            ,b.option_a
            ,b.option_b
            ,b.option_c
            ,b.option_d
            ,b.answer
            ,b.grade
        FROM exam_testpaper_name a
        LEFT JOIN exam_testpaper_content b ON a.id = testpaper_name_id
        WHERE a.id = #{id}
    </select>
    <select id="selectTestPaperExamCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM exam_testpaper_name a
        INNER JOIN exam_exam b ON a.id = b.exam_testpaper_id
        INNER JOIN exam_apply_exam c ON b.id = c.exam_id
        WHERE a.id in
        <foreach collection="ids" item="ids" open="(" close=")" separator=",">
            #{ids}
        </foreach>
        and a.status = 1
        and b.status = 1
        and c.status = 1
    </select>
    <select id="selectTestPaperContentExamCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM exam_testpaper_content x
        INNER JOIN exam_testpaper_name a ON x.testpaper_name_id = a.id
        INNER JOIN exam_exam b ON a.id = b.exam_testpaper_id
        INNER JOIN exam_apply_exam c ON b.id = c.exam_id
        WHERE a.id IN
        <foreach collection="ids" item="ids" open="(" close=")" separator=",">
            #{ids}
        </foreach>
        and a.status = 1
        and b.status = 1
        and c.status = 1
    </select>
    <select id="selectTestPaperIds" resultType="java.lang.Long">
        SELECT id
        FROM exam_testpaper_content
        WHERE testpaper_name_id = #{testPaperNameId}
    </select>
    <select id="selectTestPaperCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM (
        SELECT count(1)
        FROM exam_testpaper_content a
        INNER JOIN exam_exam b ON a.testpaper_name_id = b.exam_testpaper_id
        WHERE now() <![CDATA[ >= ]]> b.start_time
        AND now() <![CDATA[ <= ]]> b.end_time
        and a.testpaper_name_id = #{testPaperNameId}
        GROUP BY a.testpaper_name_id
        ) a
    </select>
    <select id="selectExamCount" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        exam_exam
        WHERE
        exam_testpaper_id in
        <foreach collection="testPaperNameId" item="testPaperNameId" open="(" close=")" separator=",">
            #{testPaperNameId}
        </foreach>
        AND NOW() <![CDATA[ >= ]]> start_time
        AND NOW() <![CDATA[ <= ]]> end_time
    </select>
    <select id="selectTestPaperCounts" resultType="java.lang.Integer">
        SELECT count(1)
        FROM (
        SELECT count(1)
        FROM exam_testpaper_content a
        INNER JOIN exam_exam b ON a.testpaper_name_id = b.exam_testpaper_id
        WHERE now() <![CDATA[ >= ]]> b.start_time
        AND now() <![CDATA[ <= ]]> b.end_time
        and a.testpaper_name_id in
        <foreach collection="testPaperNameId" item="testPaperNameId" open="(" close=")" separator=",">
            #{testPaperNameId}
        </foreach>
        GROUP BY a.testpaper_name_id
        ) a
    </select>
    <select id="selectTestPaperInfo" resultMap="testPaperMap">
         SELECT a.id
            ,a.test_paper_name
            ,b.title
            ,b.type
            ,b.option_a
            ,b.option_b
            ,b.option_c
            ,b.option_d
            ,b.grade
            ,a.subject_id
            ,b.id as topicId
        FROM exam_testpaper_name a
        LEFT JOIN exam_testpaper_content b ON a.id = testpaper_name_id
        left join
				exam_exam c on c.exam_testpaper_id = a.id
        WHERE c.id = #{id}
    </select>

</mapper>